@model IEnumerable<LicentaFinal.Models.OrderHistory>

<h2>Keep track of modified stock</h2>
<br />

<div class="row">
    <div class="col-md-4">
        <form asp-action="ShowSearchResults">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group input-group">
                <input name="SearchPhrase" class="form-control" id="txtNameProduct" placeholder="Search Invoice" />
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary input-group-text">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>
<br />
<form asp-controller="OrderHistories" asp-action="Cleanup">
    <input type="hidden"  />
    <input type="submit" value="Clear History" class="btn btn-danger" /> 
</form>

<br />
<table class="table">
    <thead>
        <tr>
            <th>Date Changed</th>
            <th>Invoice Item</th>
            <th>Old Quantity</th>
            <th>New Quantity</th>
            <th>Old Price</th>
            <th>New Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var history in Model)
        {
            <tr>
                <td>@history.DateChanged</td>
                <td>
                    @if (history.OrderItem != null)
                    {
                        @history.OrderItem.NumeProdus
                    }
                </td>
                <td>@history.OldQuantity</td>
                <td>@history.NewQuantity</td>
                <td>@history.OldPrice</td>
                <td>@history.NewPrice</td>
            </tr>
        }
    </tbody>
</table>


@section scripts{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>
    <link href="https://code.jquery.com/ui/1.13.1/themes/smoothness/jquery-ui.css" rel="stylesheet" />
    <script>
        $(function () {
            $("#txtNameProduct").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/OrderHistories/AutocompleteProductName",
                        type: "GET",
                        data: { term: request.term },
                        success: function (data) {
                            response(data);
                        }
                    });
                },
                minLength: 2
            });
        });
    </script>
}