@using LicentaFinal.Core;
@model IEnumerable<LicentaFinal.Models.Invoice>


<p>
    <a asp-action="Create" class="btn btn-outline-primary">Create a new invoice</a>
</p>

<div class="row">
    <div class="col-md-4">
        <form asp-action="ShowSearchResults">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group input-group">
                <input name="SearchPhrase" class="form-control" id="txtProductName" placeholder="Search invoice" />
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary input-group-text">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>



<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Creat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeFirma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cumparator)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Creat)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeFirma)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Serie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cumparator)
           </td>
                @if (User.Identity.IsAuthenticated)

                {
                    <td>

                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-success">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a>
           
                    </td>
                }

                
        </tr>
}
    </tbody>
</table>


@section scripts{

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>
<link href="https://code.jquery.com/ui/1.13.1/themes/smoothness/jquery-ui.css" rel="stylesheet" />
<script>
    $(function () {
            $("#txtProductName").autocomplete({
            source: function (request, response) {
                $.ajax({
                        url: "/Invoices/AutocompleteProductName",
                    type: "GET",
                    data: { term: request.term },
                    success: function (data) {
                        response(data);
                    }
                });
            },
            minLength: 2
        });
    });
</script>
}