@model IEnumerable<LicentaFinal.Models.OrderItem>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Create New</a>
</p>
<form asp-action="ChartPie" method="post">
    <div style="display: flex; justify-content: center;">
        <canvas id="myChart" style="max-width: 500px; max-height: 500px;"></canvas>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumeProdus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantitate)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Pret)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumeProdus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantitate)
            </td>
                  <td>
                    @Html.DisplayFor(modelItem => item.Pret)
                </td>
            <td>
                  <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-success">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>




@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        // Functie pentru generarea unei culori RGB aleatorii
        function getRandomColor() {
            var r = Math.floor(Math.random() * 256);
            var g = Math.floor(Math.random() * 256);
            var b = Math.floor(Math.random() * 256);
            return "rgba(" + r + "," + g + "," + b + ",0.5)";
        }

        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: @Html.Raw(Json.Serialize(Model.Select(o => o.NumeProdus))),
                datasets: [{
                    label: 'Cantitate',
                    data: @Html.Raw(Json.Serialize(Model.Select(o => o.Cantitate))),
                    backgroundColor: [
                        getRandomColor(),
                        getRandomColor(),
                        getRandomColor(),
                        getRandomColor(),
                        getRandomColor(),
                        getRandomColor(),
                        getRandomColor(),
                        getRandomColor(),
                        getRandomColor(),
                        getRandomColor()
                    ],
                    borderColor: [
                        getRandomColor(),
                        getRandomColor(),
                        getRandomColor(),
                        getRandomColor(),
                        getRandomColor(),
                        getRandomColor(),
                        getRandomColor(),
                        getRandomColor(),
                        getRandomColor(),
                        getRandomColor()
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true
            }
        });
    </script>
}