@model LicentaFinal.Models.Order

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Creat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Creat)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Serie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Serie)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Numar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Numar)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Moneda)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Moneda)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cumparator)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cumparator)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Adresa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Adresa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Iban)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Iban)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Banca)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Banca)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AdresaMail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AdresaMail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Observatii)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Observatii)
        </dd>

        @foreach (var item in Model.Items)
        {
            <table>
                <tr>
                    <th>
                        @Html.DisplayNameFor(modelItem => item.NumeProdus)
                        @Html.DisplayFor(modelItem => item.NumeProdus)

                    </th>

                    <th>
                        @Html.DisplayNameFor(modelItem => item.Cantitate)
                        @Html.DisplayFor(modelItem => item.Cantitate)

                    </th>

                    <th>
                        @Html.DisplayNameFor(modelItem => item.Pret)
                        @Html.DisplayFor(modelItem => item.Pret)

                    </th>
                </tr>
            </table>
        }


    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
    <a asp-controller="Orders" asp-action="DownloadPDF" asp-route-id="@Model?.Id" class="btn btn-primary">Descarcă PDF</a>
</div>
