@model LicentaFinal.Models.Furnizori

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Furnizori</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Furnizor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Furnizor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CIF)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CIF)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodRegistruComert)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodRegistruComert)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumarTelefon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumarTelefon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdresaSediu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdresaSediu)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<a asp-controller="Furnizoris" asp-action="DownloadPDF" asp-route-id="@Model?.Id" class="btn btn-primary">Descarcă PDF</a>
