@model IEnumerable<LicentaFinal.Models.InvoiceHistory>

<h2>Keep track of modified invoices</h2>
<br />

<div class="row">
    <div class="col-md-4">
        <form asp-action="ShowSearchResults">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group input-group">
                <input name="SearchPhrase" class="form-control" id="txtProductName" placeholder="Search Invoice" />
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary input-group-text">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>
<br />

<form asp-controller="InvoiceHistories" asp-action="Cleanup">
    <input type="submit" value="Clear History" class="btn btn-danger" />
</form>

<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateChanged)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OldCompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewCompanyName)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateChanged)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OldCompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewCompanyName)
            </td>

            <td>

                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-success">Details</a>

            </td>
        </tr>
}
    </tbody>
</table>

@section scripts{
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>
<link href="https://code.jquery.com/ui/1.13.1/themes/smoothness/jquery-ui.css" rel="stylesheet" />
<script>
    $(function () {
            $("#txtProductName").autocomplete({
            source: function (request, response) {
                $.ajax({
                        url: "/InvoiceHistories/AutocompleteProductName",
                    type: "GET",
                    data: { term: request.term },
                    success: function (data) {
                        response(data);
                    }
                });
            },
            minLength: 2
        });
    });
</script>
}